<div class="app-main__inner animated fadeIn">
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade active show" id="tab-content-0" role="tabpanel">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 px-md-n3">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Nueva ruta</h5>
                            <form id="create-register">
                                <div class="form-group ">
                                    <label for="name ">Nombre de la ruta:<span class="required "></span> </label>
                                    <input type="text " name="name" class="form-control " id=" " placeholder="Nombre" required>
                                </div>
                                <div class="form-group ">
                                    <label for="name ">Lugar partida:<span class="required "></span> </label>
                                    <input type="text " name="startingplace" class="form-control " id=" " placeholder="Lugar partida" required>
                                </div>
                                <div class="form-group ">
                                    <label for="name ">Lugar llegada:<span class="required "></span> </label>
                                    <input type="text " name="arrivalplace" class="form-control " id=" " placeholder="Lugar llegada" required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block ">Registrar bus! </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 "></div>
            </div>

        </div>
    </div>