<div class="app-main__inner animated fadeIn">
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade active show" id="tab-content-0" role="tabpanel">
            <div class="main-card mb-3 card">
                <div class="card-header">Listado de empleados
                    <div class="btn-actions-pane-right">

                    </div>
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="ml-2">Nombre</th>
                                <th class="">Lugar partida</th>
                                <th class="">Lugar llegada</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="table-registers">
                            <tr>
                                <td colspan="6">
                                    <h5 class="text-center">No existen datos almacenados</h5>
                                </td>
                            </tr>

                            <template id="template">
                                <tr class="tr-clone">
                                    <th class="id"></th>
                                    <td class="ml-2 name"></td>
                                    <td class=" startingplace"></td>
                                    <td class=" arrivalplace"></td>
                                    <td class="text-center">
                                        <button type="button" id="" class="btn btn-primary btn-sm detail"><i
                                                class="pe-7s-eyedropper"> </i></button>
                                    </td>
                                </tr>
                            </template>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>