<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <form id="create-user" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Nombre completo</label>
                    <input type="text" name="nombrecompleto" class="form-control" id="nombrecompleto" placeholder="Nombre completo">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="correo">Email</label>
                        <input type="email" name="correo" class="form-control" id="correo" placeholder="Correo">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="contrasena">Contraseña</label>
                        <input type="password" name="contrasena" class="form-control" id="contrasena" placeholder="Contraseña">
                    </div>
                </div>
                <div class="form-group">
                    <label for="avatar"><b>Pon tu avatar</b></label>
                    <input type="file" name="avatar" class="d-block" id="avatar">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 ">
                        <label for="telefono ">Telefono</label>
                        <input type="text" name="telefono" class="form-control" id="telefono" placeholder="Telefono">
                    </div>
                    <div class="form-group col-md-6 ">
                        <label for="roles">State</label>
                        <select id="roles" class="form-control ">
                        <option selected>--Selecciona--</option>
                    </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block  ">Registrarme! </button>
            </form>
        </div>
        <div class="col-md-3 "></div>
    </div>
</div>