<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Actualización contrato</title>

</head>

<body class="bg-gradient-primary">

  <img src="transporte publico.jpg">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Actualización contrato</h1>
                  </div>
                  <form class="user">
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="rol" aria-describedby="id" placeholder="Id contrato">
                    </div>
                    <div class="form-group">
                      <input type="date" class="form-control form-control-user" id="date" placeholder="Fecha inicio contrato">
                    </div>
                    <div class="form-group">
                      <input type="date" class="form-control form-control-user" id="date" placeholder="Fecha termino contrato">
                    </div>
                    <div class="form-group">
                      <input type="number" class="form-control form-control-user" id="salary" placeholder="Valor total">
                    </div>
                    
                    <a href="index.html" class="btn btn-primary btn-user btn-block">
                      Actualizar
                    </a>
                    <hr>
                  </form>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</body>

</html>