<div class="app-main__inner animated fadeIn">
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade active show" id="tab-content-0" role="tabpanel">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 px-md-n3">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Añadir un nuevo bus</h5>
                            <form id="create-bus">
                                <input type="hidden" name="idusuario">
                                <div class="form-group ">
                                    <label for="name ">Placa:<span class="required "></span> </label>
                                    <input type="text " name="placa" class="form-control " id=" " placeholder="Placa del bus" required>
                                </div>
                                <div class="form-group">
                                    <label for="name">Conductor (buscar por nombre o correo):<span
                                            class="required"></span> </label><br>
                                    <small>Doble click sobre el formulario para habilitarlo, si ya se ha añadido</small>
                                    <input type="text" id="input-driver" class="form-control" placeholder="Nombre completo" required>
                                    <div id="list-drivers"></div>
                                    <template id="show-driver" style="display: none;">
                                        <div class="driver">
                                            <img class="img-driver" src="" alt=" ">
                                            <div class="data ">
                                                <div class="name "></div>
                                                <div class="email "></div>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                                <div class="form-row ">
                                    <div class="form-group col-md-6 ">
                                        <label for="telefono ">Color: <span class="required "></span></label>
                                        <input type="text" name="color" class="form-control " id="" placeholder="Color " required>
                                    </div>
                                    <div class="form-group col-md-6 ">
                                        <label for="telefono">Modelo: <span class="required "></span> </label>
                                        <input type="number" name="modelo" class="form-control " id=" " placeholder="Modelo del bus " required>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="name">Fabricante:<span class="required "></span> </label>
                                    <input type="text" name="fabricante" class="form-control " id=" " placeholder="Nombre del fabricante " required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block ">Registrar bus! </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 "></div>
            </div>

        </div>
    </div>